@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: 0, 0, 0;
    --background-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: 255, 255, 255;
        --background-color: 0 20 34;
    }
}

body {
    color: rgb(var(--foreground-color));
    background: rgb(var(--background-color));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .textGradient,
    span {
        background: -webkit-linear-gradient(-45deg, #47e100, #0365b6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
